body{
    font-family: 'Titillium Web', sans-serif;
    margin:0;
    

}   
#h1color{
    color: red;
}
section{
    display: flex;
    padding-left: 20px;
    padding-bottom: 30px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
h1{
    font-size: 80px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    padding:auto;
    background-image: linear-gradient(red,rgba(0, 0, 0, 0.5));
    
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
